{{define "books/edit.tpl"}}
{{template "layout/header.tpl"}}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Gin Demo With Bootstrap and Vue</h1>
                <p>Hello, {{ .name }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="app">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" id="title" v-model="book.title">
                    </div>
                    <div class="form-group">
                        <label for="author">Author:</label>
                        <input type="text" class="form-control" id="author" v-model="book.author">
                    </div>
                    <div class="mt-1">
                        <button class="btn btn-primary me-1" v-on:click="update_book">Update</button>
                        <button class="btn btn-danger" v-on:click="delete_book">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        Vue.createApp({
            delimiters: ["[[", "]]"],
            data() {
                return {
                    url: "/books/api/{{ .data.ID }}",
                    book: {
                        title: {{ .data.Title }},
                        author: {{ .data.Author }}
                    }
                };
            },
            methods: {
                update_book: function() {
                    fetch(this.url, {
                        method: "PATCH",
                        headers: { "content-type": "application/json"},
                        body: JSON.stringify({
                            title: this.book.title,
                            author: this.book.author
                        })
                    }).then(function(res) {
                        window.location = "/books/";
                    });
                },
                delete_book: function() {
                    fetch(this.url, {
                        method: "DELETE",
                        headers: { "content-type": "application/json"}
                    }).then(function(res) {
                        window.location = "/books/";
                    });
                }
            }
        }).mount("#app");
    </script>
{{template "layout/footer.tpl"}}
{{end}}