{{define "books/index.tpl"}}
{{template "layout/header.tpl"}}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Gin Demo With Bootstrap and Vue</h1>
                <p>Hello, {{ .name }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="app">
                    <div v-for="b in books" v-bind:key="b.id">
                        <h4 v-bind:id="b.id" v-on:click="show_book">[[ b.title ]]</h4>
                        <p>[[ b.author ]]</p>
                    </div>
                </div>
                <div class="mt-1">
                    <a class="btn btn-primary" href="/books/new">New</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        const app = Vue.createApp({
            delimiters: ["[[", "]]"],
            data() {
                return {
                    url: "/books/api",
                    books: [],
                };
            },
            mounted: function() {
                this.fetch_books();
            },
            methods: {
                fetch_books: function() {
                    var that = this;
                    fetch(this.url)
                    .then(r => r.json())
                    .then(d => that.books = d['data']);
                },
                show_book: function(e) {
                    window.location = "/books/show/" + e.target.id;
                }
            }
        }).mount("#app");
    </script>
{{template "layout/footer.tpl"}}
{{end}}