{{define "books/index.tpl"}}
{{template "layout/header.tpl"}}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Gin Demo With Bootstrap and Vue</h1>
                <p>Hello, {{ .name }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="app">
                    <div v-for="r, i in books" v-bind:key="i">
                        <h4>[[ r.title ]]</h4>
                        <p>[[ r.author ]]</p>
                    </div>
                </div>
                <a class="btn btn-primary" href="/books/new">New</a>
            </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            delimiters: ["[[", "]]"],
            data: {
                url: "/books/api",
                books: [],
            },
            mounted: function() {
                this.fetch_books();
            },
            methods: {
                fetch_books: function() {
                    var that = this;
                    fetch(this.url)
                    .then(r => r.json())
                    .then(d => that.books = d['data']);
                }
            }
        });
    </script>
{{template "layout/footer.tpl"}}
{{end}}