{{define "books/show.tpl"}}
{{template "layout/header.tpl"}}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Gin Demo With Bootstrap and Vue</h1>
                <p>Hello, {{ .name }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="app">
                    <div>
                        <p>Title: {{ .data.Title}}</p>
                        <p>Author: {{ .data.Author}}</p>
                        <a class="btn btn-warning" href="/books/edit/{{ .data.ID }}">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{template "layout/footer.tpl"}}
{{end}}